a,
abbr,
address,
article,
aside,
audio,
b,
blockquote,
body,
canvas,
caption,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
section,
samp,
small,
span,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
ul,
var,
video {
  margin: 0;
  border: 0;
  padding: 0;
  vertical-align: baseline;
  font: inherit;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before, blockquote::after {
  content: none;
}

q::before, q::after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* latin-ext */
@font-face {
  font-family: 'Roboto Condensed';
  font-weight: 300;
  font-style: normal;
  src: local("Roboto Condensed Light"), local("RobotoCondensed-Light"), url("../fonts/RobotoCondensed/Light/b9QBgL0iMZfDSpmcXcE8nEkGkHRU10pzBW9xZ23ZxGr2Ot9t5h1GRSTIE78Whtoh.woff2") format("woff2"), url("https://fonts.gstatic.com/s/robotocondensed/v14/b9QBgL0iMZfDSpmcXcE8nEkGkHRU10pzBW9xZ23ZxGr2Ot9t5h1GRSTIE78Whtoh.woff2") format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto Condensed';
  font-weight: 300;
  font-style: normal;
  src: local("Roboto Condensed Light"), local("RobotoCondensed-Light"), url("../fonts/RobotoCondensed/Light/b9QBgL0iMZfDSpmcXcE8nCqOJfobX9lrC1wFVe9k15E.woff2") format("woff2"), url("https://fonts.gstatic.com/s/robotocondensed/v14/b9QBgL0iMZfDSpmcXcE8nCqOJfobX9lrC1wFVe9k15E.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto Condensed';
  font-weight: 700;
  font-style: normal;
  src: local("Roboto Condensed Bold"), local("RobotoCondensed-Bold"), url("../fonts/RobotoCondensed/Bold/b9QBgL0iMZfDSpmcXcE8nGPMCwzADhgEiQ8LZ-01G1L2Ot9t5h1GRSTIE78Whtoh.woff2") format("woff2"), url("https://fonts.gstatic.com/s/robotocondensed/v14/b9QBgL0iMZfDSpmcXcE8nGPMCwzADhgEiQ8LZ-01G1L2Ot9t5h1GRSTIE78Whtoh.woff2") format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto Condensed';
  font-weight: 700;
  font-style: normal;
  src: local("Roboto Condensed Bold"), local("RobotoCondensed-Bold"), url("../fonts/RobotoCondensed/Bold/b9QBgL0iMZfDSpmcXcE8nPX2or14QGUHgbhSBV1Go0E.woff2") format("woff2"), url("https://fonts.gstatic.com/s/robotocondensed/v14/b9QBgL0iMZfDSpmcXcE8nPX2or14QGUHgbhSBV1Go0E.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto Condensed';
  font-weight: 300;
  font-style: italic;
  src: local("Roboto Condensed Light Italic"), local("RobotoCondensed-LightItalic"), url("../fonts/RobotoCondensed/LightItalic/mg0cGfGRUERshzBlvqxeAHpf1HD57Z5hGoBcaK5xoY-Axg1Bnw5F8n5M1Q3pc3xZ.woff2") format("woff2"), url("https://fonts.gstatic.com/s/robotocondensed/v14/mg0cGfGRUERshzBlvqxeAHpf1HD57Z5hGoBcaK5xoY-Axg1Bnw5F8n5M1Q3pc3xZ.woff2") format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto Condensed';
  font-weight: 300;
  font-style: italic;
  src: local("Roboto Condensed Light Italic"), local("RobotoCondensed-LightItalic"), url("../fonts/RobotoCondensed/LightItalic/mg0cGfGRUERshzBlvqxeAL8HwCiP7DYII36AlQZXXQeglnMp3_3A8V8Ai8YosRtX.woff2") format("woff2"), url("https://fonts.gstatic.com/s/robotocondensed/v14/mg0cGfGRUERshzBlvqxeAL8HwCiP7DYII36AlQZXXQeglnMp3_3A8V8Ai8YosRtX.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto Condensed';
  font-weight: 700;
  font-style: italic;
  src: local("Roboto Condensed Bold Italic"), local("RobotoCondensed-BoldItalic"), url("../fonts/RobotoCondensed/BoldItalic/mg0cGfGRUERshzBlvqxeAMVn2for1WIAtpulDRrWD0aAxg1Bnw5F8n5M1Q3pc3xZ.woff2") format("woff2"), url("https://fonts.gstatic.com/s/robotocondensed/v14/mg0cGfGRUERshzBlvqxeAMVn2for1WIAtpulDRrWD0aAxg1Bnw5F8n5M1Q3pc3xZ.woff2") format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto Condensed';
  font-weight: 700;
  font-style: italic;
  src: local("Roboto Condensed Bold Italic"), local("RobotoCondensed-BoldItalic"), url("../fonts/RobotoCondensed/BoldItalic/mg0cGfGRUERshzBlvqxeAD80_Kjvv-UM5FLsk7nHpemglnMp3_3A8V8Ai8YosRtX.woff2") format("woff2"), url("https://fonts.gstatic.com/s/robotocondensed/v14/mg0cGfGRUERshzBlvqxeAD80_Kjvv-UM5FLsk7nHpemglnMp3_3A8V8Ai8YosRtX.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
body {
  font: 15.625px / 14px "Roboto Condensed", sans-serif;
}
@media (max-width: 1024px) {
  body {
    font-size: 14.625px;
  }
}

h1 {
  font-weight: bold;
}
h1 span {
  font-weight: normal;
}

ol {
  list-style-type: decimal;
}

li {
  margin-left: 14px;
}

#container {
  margin: 42px auto;
  border: 1px solid #aaa;
  padding-top: 84px;
  padding-bottom: 84px;
  width: 1250px;
  overflow: auto;
}
@media (max-width: 1300px) {
  #container {
    padding-top: 66px;
    padding-bottom: 66px;
    width: 950px;
  }
}
@media (max-width: 1024px) {
  #container {
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 770px;
  }
}
@media (max-width: 840px) {
  #container {
    padding-top: 5.5%;
    padding-bottom: 5.5%;
    max-width: 91.6%;
  }
}

.countries-where-pictures-were-taken {
  position: relative;
}
.countries-where-pictures-were-taken p {
  position: absolute;
  top: 570px;
  left: 23px;
  transform: rotate(-90deg);
  width: 570px;
  text-align: right;
  transform-origin: top left;
}
@media (max-width: 1300px) {
  .countries-where-pictures-were-taken p {
    top: 432px;
    left: 20px;
    width: 432px;
  }
}
@media (max-width: 1024px) {
  .countries-where-pictures-were-taken p {
    top: 658px;
    left: 2.3%;
    width: 658px;
  }
}

section {
  display: inline-block;
  width: 570px;
  height: 190px;
}
@media (max-width: 1300px) {
  section {
    width: 433.2px;
    height: 144.4px;
  }
}
@media (max-width: 1024px) {
  section {
    position: absolute;
    left: 530px;
    width: 190px;
  }
}
@media (max-width: 840px) {
  section {
    top: 5.5%;
    left: 69.8%;
    width: 23.8%;
    height: auto;
  }
}

picture {
  float: left;
}
picture:first-of-type {
  margin-right: 60px;
  margin-left: 120px;
}
@media (max-width: 1300px) {
  picture:first-of-type {
    margin-right: 45.6px;
    margin-left: 90px;
  }
}
@media (max-width: 1024px) {
  picture:first-of-type {
    margin-left: 50px;
  }
}
@media (max-width: 840px) {
  picture:first-of-type {
    display: block;
    float: none;
    margin-right: 0;
    margin-left: 6.5%;
    max-width: 57%;
  }
}
picture:first-of-type img {
  width: 380px;
  height: 570px;
}
@media (max-width: 1300px) {
  picture:first-of-type img {
    width: 288.8px;
    height: auto;
  }
}
@media (max-width: 1024px) {
  picture:first-of-type img {
    width: 440px;
  }
}
@media (max-width: 840px) {
  picture:first-of-type img {
    width: 100%;
  }
}
@media (max-width: 840px) {
  picture:last-of-type {
    display: block;
    float: none;
    margin-left: 0;
    max-width: 87%;
  }
}
picture:last-of-type img {
  width: 570px;
  height: 380px;
}
@media (max-width: 1300px) {
  picture:last-of-type img {
    width: 433.2px;
    height: auto;
  }
}
@media (max-width: 1024px) {
  picture:last-of-type img {
    margin-top: 47px;
    margin-left: 50px;
    width: 670px;
  }
}
@media (max-width: 840px) {
  picture:last-of-type img {
    margin-top: 6.5%;
    margin-left: 7.5%;
    width: 100%;
  }
}
