$grid--column-width: 20px;
$grid--gutter-width: 10px;
$grid--unit:        ($grid--column-width + $grid--gutter-width);
$grid--leading:      14px;

$font-size--base: 15.625px;
$font-stack:     'Roboto Condensed', sans-serif;

$width--first-picture:   380px;
$height--first-picture:  570px;

$width--second-picture:  570px;
$height--second-picture: 380px;

/*
$grid--column-width: 20px;
$grid--gutter-width: 10px;
$grid--unit: ($grid--column-width + $grid--gutter-width);
$grid--column-count: 42;
$grid--leading: 14px;
Use split gutters
 */
