@import 'reset';
@import 'fonts';
@import 'variables';

body {
   font: #{$font-size--base} / #{$grid--leading} $font-stack;
}

h1 {
   font-weight: bold;

   span {
      font-weight: normal;
   }
}

ol {
   list-style-type: decimal;
}

li {
   margin-left: $grid--leading;
}

#container {
   overflow: auto;
   margin: auto;
   width: (31 * $grid--unit) + 10;
   padding-top: (6 * $grid--leading);
   padding-bottom: (6 * $grid--leading);
   border: 1px solid #aaa;
}

.countries-where-pictures-were-taken {
   position: relative;

   p {
      text-align: right;
      top: $height--first-picture;
      left: $grid--column-width + 3;
      position: absolute;
      width: $height--first-picture;
      transform-origin: top left;
      transform: rotate(-90deg);
   }
}

section {
   width: $width--second-picture;
   height: ($height--first-picture - $height--second-picture);
   display: inline-block;
}

picture {
   float: left;

   &:first-of-type {
      margin-left: (3 * $grid--unit);
      margin-right: (1.5 * $grid--unit);

      img {
         width: $width--first-picture;
         height: $height--first-picture;
      }
   }

   &:last-of-type {
      img {
         width: $width--second-picture;
         height: $height--second-picture;
      }
   }
}
