@import 'reset';
@import 'fonts';
@import 'variables';

body {
   font: #{$font-size--base} / #{$grid--leading} $font-stack;
}

h1 {
   font-weight: bold;

   span {
      font-weight: normal;
   }
}

ol {
   list-style-type: decimal;
}

li {
   margin-left: $grid--leading;
}

#container {
   margin: auto;
   width: (31 * $grid--unit) + 10;
   padding-top: (6 * $grid--leading);
   padding-bottom: (6 * $grid--leading);
   border: 1px solid #aaa;
}

.countries-where-pictures-were-taken {
   position: relative;

   p {
      text-align: right;
      top: 652px; //667px;
      left: 24px;
      position: absolute;
      width: 567px;
      transform-origin: top left;
      transform: rotate(-90deg);

   }

   &__country-1 {
   }

   &__country-2 {
   }
}

   display: inline-block;
   margin-left: 135px;
   margin-top: 85px;
   margin-right: 64px;

picture {
   &:first-of-type {
      float: left;
      display: inline-block;
      margin-left: (3 * $grid--unit);
      margin-right: (1.5 * $grid--unit);
   }

.definition {
   width: 300px;
   height: 188px;
   margin-top: 85px;
   display: inline-block;
}
